<!DOCTYPE html>
<html lang="en" class="no-js" th:lang="${#locale.language}"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PashaBank THY Miles & Smiles Card Order</title>
</head>
<body>
<form id="general_info" method="post" action="general-info">
    <input name="name" type="text" value="">
    <input name="surname" type="text" value="">
    <input name="patronymic" type="text" value="">
    <input name="birthDate" type="text" value="">
    <input name="residency" type="text" value="">
    <input name="nationality" type="text" value="">
    <input name="gender" type="text" value="">
    <input name="secretCode" type="text" value="">
    <input name="workplace" type="text" value="">
    <input name="position" type="text" value="">
</form>
</body>
</html>