<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/media/fonts/Rubik_Az/stylesheet.css}">
    <link rel="stylesheet" th:href="@{/media/plugins/niceSelect/nice-select.css}">
    <link rel="stylesheet" th:href="@{/media/css/style.css}">

    <title th:text="#{label.step3.title}">PaşaBank THY Miles & Smiles Kart Sifarişi | TK Nömrə</title>
</head>
<body>
    <div class="page-content step-3-content">
        <!-- Header-start -->
        <header class="header-form">
            <div class="container">
                <div class="header-top">
                    <div class="header-top__left-col">
                        <div class="logo">
                            <a href="https://www.pashabank.az/lang,az/" target="_blank" title="Pasha Bank">
                              <picture>
                                <source srcset="media/img/pashabank_logo_white_375_wm.png" media="(max-width: 639px)">
                                <img th:src="@{/media/img/pashabank_logo_white.png}" alt="PAŞABank logo">
                              </picture>
                            </a>
                        </div>
                        <div class="logo-thy-miles-smiles">
                            <a href="https://www.milesandsmiles.net/" target="_blank" title="Pasha Bank">
                              <picture>
                                <source srcset="media/img/thy_miles_smiles_logo_white_375_wm.png" media="(max-width: 639px)">
                                <img th:src="@{/media/img/thy_miles_smiles_logo_white.png}" alt="Miles&amp;Smiles | Türk Hava Yolları ®">
                              </picture>  
                            </a>
                        </div>
                        <div class="hesab-az-logo">
                            <a href="https://hesab.az/" target="_blank">
                                <img th:src="@{media/img/hesab-logo.svg}" alt="hesab.az">
                            </a>
                        </div>
                    </div>
                    <div class="header-top__right-col">
                        <div class="lang header-lang">
                            <b th:if="${lcl == 'az'}">AZ</b>
                            <b th:if="${lcl == 'en'}">EN</b>
                            <b th:if="${lcl == 'ru'}">RU</b>
                            <picture><img th:src="@{/media/img/Icon_Down_1x.png}" alt="dropdown-image"></picture>
                            <div class="other-langs">
                                <a th:if="${lcl == 'az'}" th:href="@{step3(lang=en)}" class="language-link">EN</a>
                                <a th:if="${lcl == 'az'}" th:href="@{step3(lang=ru)}" class="language-link">RU</a>
                                <a th:if="${lcl == 'en'}" th:href="@{step3(lang=az)}" class="language-link">AZ</a>
                                <a th:if="${lcl == 'en'}" th:href="@{step3(lang=ru)}" class="language-link">RU</a>
                                <a th:if="${lcl == 'ru'}" th:href="@{step3(lang=az)}" class="language-link">AZ</a>
                                <a th:if="${lcl == 'ru'}" th:href="@{step3(lang=en)}" class="language-link">EN</a>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
        </header>
        <!-- Header-end -->
        <div class="content-inner">
            <div class="container">
                <h1 class="page-heading" th:text="#{label.general.online_application}">Onlayn müraciət</h1>
                <div class="main-block">
                    <div class="steps-all">
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">1</span>
                            <span class="steps-item__title" th:text="#{label.general.personal_info}">Şəxsi məlumat</span>
                        </div>
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">2</span>
                            <span class="steps-item__title" th:text="#{label.general.address_contact_info}">Ünvan və əlaqə vasitələri</span>
                        </div>
                        <div class="steps__item steps__item--active">
                            <span class="steps-item__number">3</span>
                            <span class="steps-item__title" th:text="#{label.general.tk_no}">TK nömrə</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">4</span>
                            <span class="steps-item__title" th:text="#{label.general.required_documents}">Lazımi sənədlər</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">5</span>
                            <span class="steps-item__title" th:text="#{label.general.anket_info}">Anket məlumatları</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">6</span>
                            <span class="steps-item__title" th:text="#{label.general.card_info}">Kart məlumatları</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">7</span>
                            <span class="steps-item__title" th:text="#{label.general.confirmation_of_order}">Məlumatların yoxlanışı</span>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <h2 class="step-heading" th:text="#{label.general.tk_no}">TK nömrə</h2>
                        <form th:action="@{/step3}" th:object="${app}" method="post">
                            <div class="form-groups__row">
                                <div class="form-group form-group--full-width">  
                                    <div class="checkbox">
                                        <input type="checkbox" id="tkNoAvailable" name="tkNoAvailable" class="form-check-input" th:checked="${isTkNoAvailable}">
                                        <label for="tkNoAvailable" th:text="#{label.step3.tk_no_available}">Mənim aktiv TK nömrəm var</label>
                                    </div>
                                </div>
                            </div>
                            <div id="existingTkNoRow" class="form-groups__row" th:classappend="${!isTkNoAvailable ? 'd-none' : ''}">
                                <div class="form-group form-group--full-width">  
                                    <label th:text="#{label.general.tk_no}">TK nömrə</label>
                                    <input type="text" th:field="*{tkNo}" placeholder="TK123456789">
                                    <span th:if="${#fields.hasErrors('tkNo')}" th:errors="*{tkNo}" class="inputs-error"></span>
                                </div>
                            </div>
                            <div id="nonExistingTkNoContainer" th:class="${isTkNoAvailable ? 'd-none' : ''}" style="padding: 19px 0 0">
                                <div class="form-groups__row">
                                    <div class="form-group__description">
                                        <span class="form-group-description__title" th:text="#{label.step3.description_title}">Miles&Smiles proqramına qeydiyyatdan keçmək üçün aşağıdakı məlumatları doldurun</span>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{label.step3.passport_name}">Ad (Xarici passport)</label>
                                        <input type="text" th:field="*{passportName}" class="form-control" th:placeholder="#{placeholder.index.name}">
                                        <span th:if="${#fields.hasErrors('passportName')}" th:errors="*{passportName}" class="inputs-error">Xana doldurulmalıdır</span>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{label.step3.passport_surname}">Soyad (Xarici passport)</label>
                                        <input type="text" th:field="*{passportSurname}" class="form-control" th:placeholder="#{placeholder.index.surname}">
                                        <span th:if="${#fields.hasErrors('passportSurname')}" th:errors="*{passportSurname}" class="inputs-error">Xana doldurulmalıdır</span>
                                    </div>
                                </div>
                                <div class="form-groups__row">
                                    <div class="form-group">
                                        <label th:text="#{label.step3.password}">Şifrə</label>
                                        <input type="password" th:field="*{password}" class="form-control" placeholder="">
                                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="inputs-error">Xana doldurulmalıdır</span>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{label.step3.password_repeat}">Təkrar şifrə</label>
                                        <input type="password" th:field="*{passwordRepeat}" class="form-control" placeholder="Şifrənizi təkrar daxil edin">
                                        <span th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}" class="inputs-error">Xana doldurulmalıdır</span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons-group">
                                <input type="submit" name="back" class="btn btn--light" th:value="#{label.general.back}">
                                <input type="submit" name="next" class="btn" th:value="#{label.general.next}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script th:src="@{/media/plugins/niceSelect/jquery.nice-select.js}"></script>
    <script th:src="@{/media/js/script.js}"></script>

    <script>
        $(function () {
            $(':checkbox').change(function() {
                $('#existingTkNoRow').toggleClass('d-none');
                $('#nonExistingTkNoContainer').toggleClass('d-none');
            });
        });
    </script>

</body>
</html>