<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>PashaBank THY Miles & Smiles Card Order | Anket məlumatları</title>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5 d-flex justify-content-center">Anket məlumatları</h2>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-center">
            <form action="#" th:action="@{/step5}" th:object="${app}" method="post">
                <div class="row" th:each="crsQuestion, iStat : ${crsQuestionList}">
                    <div class="col">
                        <label>
                            <span th:text="${iStat.index + 1} + '.'"></span>
                            <span th:text="${crsQuestion.question}"></span>
                        </label>
                        <div class="row">
                            <div class="col form-group">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" th:field="*{anketAnswers[__${iStat.index}__]}" value="1"
                                           th:onchange="|toggleAnketDesc(${iStat.index + 1}, 'show')|">
                                    <label class="form-check-label">Bəli</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" th:field="*{anketAnswers[__${iStat.index}__]}" value="2"
                                           th:onchange="|toggleAnketDesc(${iStat.index + 1}, 'hide')|">
                                    <label class="form-check-label">Xeyr</label>
                                </div>
                            </div>
                        </div>
                        <div class="row d-none" th:id="'anketDescs' + ${iStat.index + 1}">
                            <div class="col form-group" th:if="${!#strings.isEmpty(crsQuestion.addquestion)}">
                                <label th:text="${crsQuestion.addquestion}"></label>
                                <input type="text" th:field="*{anketDescs[__${iStat.index}__]}" class="form-control">
                                <span th:if="${#fields.hasErrors('anketDescs[__${iStat.index}__]')}" th:errors="*{anketDescs[__${iStat.index}__]}" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group form-check">
                        <input type="checkbox" id="acceptedTerms" th:field="*{acceptedTerms}" class="form-check-input">
                        <label for="acceptedTerms" class="form-check-label" th:text="#{label.step5.agreement_terms}"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group form-check">
                        <input type="checkbox" id="acceptedGsa" th:field="*{acceptedGsa}" class="form-check-input">
                        <label for="acceptedGsa" class="form-check-label" th:text="#{label.step5.agreement_gsa}"></label>
                        <a class="form-check-label" href="https://www.pashabank.az/gsa/lang,${lang}/" target="_blank" th:text="#{label.step5.link_gsa}"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-5">
                        <input type="submit" name="next" class="btn btn-primary float-right" value="İrəli">
                        <input type="submit" name="back" class="btn btn-danger float-right mr-3" value="Geri">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script>
    function toggleAnketDesc(idx, ind) {
        if (ind === 'show') {
            $('#anketDescs' + idx).removeClass('d-none');
        } else {
            $('#anketDescs' + idx).addClass('d-none');
        }
    };
</script>

</body>
</html>