<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <link rel="stylesheet" href="media/fonts/Rubik_Az/stylesheet.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="media/plugins/niceSelect/nice-select.css">
    <link rel="stylesheet" href="media/css/style.css">
    <title>PashaBank THY Miles & Smiles Card Order | Şəxsi məlumat</title>
</head>
<body>
    <div class="page-content step-2-content">
        <!-- Header-start -->
        <header class="header-form">
            <div class="container">
                <div class="header-top">
                    <div class="header-top__left-col">
                        <div class="logo">
                            <a href="https://www.pashabank.az/lang,az/" target="_blank" title="Pasha Bank">
                              <picture>
                                <source srcset="media/img/pashabank_logo_white_375_wm.png" media="(max-width: 639px)">
                                <img src="media/img/pashabank_logo_white.png" alt="PAŞABank logo">
                              </picture>
                            </a>
                        </div>
                        <div class="logo-thy-miles-smiles">
                            <a href="https://www.milesandsmiles.net/" target="_blank" title="Pasha Bank">
                              <picture>
                                <source srcset="media/img/thy_miles_smiles_logo_white_375_wm.png" media="(max-width: 639px)">
                                <img src="media/img/thy_miles_smiles_logo_white.png" alt="Miles&amp;Smiles | Türk Hava Yolları ®">
                              </picture>  
                            </a>
                        </div>
                        <div class="hesab-az-logo">
                            <a href="https://hesab.az/" target="_blank">
                                <img src="media/img/hesab-logo.svg" alt="hesab.az">
                            </a>
                        </div>
                    </div>
                    <div class="header-top__right-col">
                        <div class="lang header-lang">
                            <b>AZ</b>
                            <picture><img src="media/img/Icon_Down_1x.png" alt="dropdown-image"></picture>
                            <div class="other-langs">        
                                <a href="index_en.html" class="language-link">EN</a>
                                <a href="index_ru.html" class="language-link">RU</a>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
        </header>
        <!-- Header-end -->
        <div class="content-inner">
            <div class="container">
                <h1 class="page-heading">Onlayn müraciət</h1>
                <div class="main-block">
                    <div class="steps-all">
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">1</span>
                            <span class="steps-item__title">Şəxsi məlumat</span>
                        </div>
                        <div class="steps__item steps__item--active">
                            <span class="steps-item__number">2</span>
                            <span class="steps-item__title">Kart məlumatları</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">3</span>
                            <span class="steps-item__title">Anket məlumatları</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">4</span>
                            <span class="steps-item__title">Sifariş məlumatlarının təsdiqi</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">5</span>
                            <span class="steps-item__title">Ödəniş</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">6</span>
                            <span class="steps-item__title">Ödəniş nəticələri</span>
                        </div>
                        <div class="steps__item">
                            <span class="steps-item__number">7</span>
                            <span class="steps-item__title">Məlumatların yoxlanışı</span>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <h2 class="step-heading">Ünvan və əlaqə vasitələri</h2>
                        <form action="/ms-thy-crdorder-hesabaz/step2" method="post" sty="">
                            <div class="form-groups__row">
                                <div class="form-group">
                                    <label>Şəhər</label>
                                    <select class="form-control" id="registrationCity" name="registrationCity">
                                        <option value="AZ-ABS">Absheron</option>
                                        <option value="AZ-AGM">Agdam</option>
                                        <option value="AZ-AGC">Aghjabedi</option>
                                        <option value="AZ-AGA">Agstafa</option>
                                        <option value="AZ-AGU">Aksu</option>
                                        <option value="AZ-AGS">Aqdash</option>
                                        <option value="AZ-AST">Astara</option>
                                        <option value="AZ-BA">Baku</option>
                                        <option value="AZ-BAL">Balakon</option>
                                        <option value="AZ-BAR">Barda</option>
                                        <option value="AZ-BEY">Beylagan</option>
                                        <option value="AZ-BIL">Bilasuvar</option>
                                        <option value="AZ-DAS">Dashkasan</option>
                                        <option value="AZ-FUZ">Fuzuli</option>
                                        <option value="AZ-GAD">Gadabay</option>
                                        <option value="AZ-GA">Ganja</option>
                                        <option value="AZ-GOR">Goranboy</option>
                                        <option value="AZ-GOY">Goychay</option>
                                        <option value="AZ-GYG">Goygol</option>
                                        <option value="AZ-HAC">Hajigabul</option>
                                        <option value="AZ-XA">Hankendi</option>
                                        <option value="AZ-IMI">Imishli</option>
                                        <option value="AZ-ISM">Ismayilly</option>
                                        <option value="AZ-CAB">Jabrayil</option>
                                        <option value="AZ-CAL">Jalilabad</option>
                                        <option value="AZ-KAL">Kalbajar</option>
                                        <option value="AZ-XAC">Khachmaz</option>
                                        <option value="AZ-XIZ">Khizy</option>
                                        <option value="AZ-XCI">Khojali</option>
                                        <option value="AZ-XVD">Khojavend</option>
                                        <option value="AZ-SIY">Kisil-burun</option>
                                        <option value="AZ-QBI">Koubately</option>
                                        <option value="AZ-KUR">Kurdamir</option>
                                        <option value="AZ-LAC">Lachin</option>
                                        <option value="AZ-LAN">Lankaran</option>
                                        <option value="AZ-LER">Lerik</option>
                                        <option value="AZ-MAS">Masally</option>
                                        <option value="AZ-MI">Mingachevir</option>
                                        <option value="AZ-NA">Naftalan</option>
                                        <option value="AZ-NX">Nakhchivan</option>
                                        <option value="AZ-NEF">Neftchala</option>
                                        <option value="AZ-OGU">Oghuz</option>
                                        <option value="AZ-QAB">Qabala</option>
                                        <option value="AZ-QAX">Qakh</option>
                                        <option value="AZ-QAZ">Qazax</option>
                                        <option value="AZ-QOB">Qobustan</option>
                                        <option value="AZ-QBA">Quba</option>
                                        <option value="AZ-QUS">Qusar</option>
                                        <option value="AZ-SAT">Saatly</option>
                                        <option value="AZ-SAB">Sabirabad</option>
                                        <option value="AZ-SAL">Salyan</option>
                                        <option value="AZ-SMX">Samukh</option>
                                        <option value="AZ-SBN">Shabran</option>
                                        <option value="AZ-SAK">Shaki</option>
                                        <option value="AZ-SMI">Shamakhi</option>
                                        <option value="AZ-SKR">Shamkir</option>
                                        <option value="AZ-SR">Shirvan</option>
                                        <option value="AZ-SUS">Shusha</option>
                                        <option value="AZ-SM">Sumqayit</option>
                                        <option value="AZ-TAR">Tartar</option>
                                        <option value="AZ-TOV">Tovuz</option>
                                        <option value="AZ-UCA">Ucar</option>
                                        <option value="AZ-YAR">Yardymly</option>
                                        <option value="AZ-YEV">Yevlakh</option>
                                        <option value="AZ-ZAN">Zangilan</option>
                                        <option value="AZ-ZAQ">Zaqatala</option>
                                        <option value="AZ-ZAR">Zardab</option>
                                    </select>
                                    <span class="inputs-error">Xana doldurulmalidir</span>
                                </div>
                                <div class="form-group">
                                    <label>Mobil nömrə</label>
                                    <input type="text" class="form-control" placeholder="+994xxxxxxxxx" id="mobileNumber" name="mobileNumber" value="">
                                    <span class="inputs-error">Xana doldurulmalidir</span>
                                </div>
                            </div>
                            <div class="form-groups__row">
                                <div class="form-group">
                                    <label>Qeydiyyat ünvanı</label>
                                    <input type="text" class="form-control" placeholder="Qeydiyyat ünvanınızı daxil edin" id="registrationAddress" name="registrationAddress" value="">
                                    <span class="inputs-error">Xana doldurulmalidir</span>
                                </div>
                                <div class="form-group">
                                    <label>E-poçt ünvanı</label>
                                    <input type="email" class="form-control" placeholder="Elektron ünvanınızı qeyd edin" id="email" name="email" value="">
                                    <span class="inputs-error">Xana doldurulmalidir</span>
                                </div>
                            </div>
                            <div class="form-groups__row">
                                <div class="form-group form-group--full-width">  
                                    <div class="checkbox">
                                        <input type="checkbox" id="domicileSame" name="domicileSame" class="form-check-input" checked="checked">
                                        <label for="domicileSame">Faktiki ünvan qeydiyyat ünvan ilə eynidir</label>
                                    </div>
                                </div>
                            </div>
                            <div id="checkRow" class="form-groups__row d-none">
                                <div class="form-group form-group--full-width">
                                    <label>Faktiki ünvan</label>
                                    <input type="text" class="form-control" placeholder="Faktiki ünvanınızı daxil edin" id="domicileAddress" name="domicileAddress" value="">
                                    <span class="inputs-error">Xana doldurulmalidir</span>
                                </div>
                            </div>
                            <div class="buttons-group">
                                <input type="submit" name="back" class="btn btn--light" value="Geri">
                                <input type="submit" class="btn" value="İrəli">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="media/plugins/niceSelect/jquery.nice-select.js"></script>
    <script>
	$(function () {
	$(':checkbox').change(function() {
	    $('#checkRow').toggleClass('d-none');
	});
	});
	</script>
    <script src="media/js/script.js"></script>

</body>
</html>