<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <link rel="stylesheet" href="media/fonts/Rubik_Az/stylesheet.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="media/plugins/niceSelect/nice-select.css">
    <link rel="stylesheet" href="media/css/style.css">
    <title>PashaBank THY Miles & Smiles Card Order | Şəxsi məlumat</title>
</head>
<body>
    <div class="page-content step-7-content">
        <!-- Header-start -->
        <header class="header-form">
            <div class="container">
                <div class="header-top">
                    <div class="header-top__left-col">
                        <div class="logo">
                            <a href="https://www.pashabank.az/lang,az/" target="_blank" title="Pasha Bank">
                              <picture>
                                <source srcset="media/img/pashabank_logo_white_375_wm.png" media="(max-width: 639px)">
                                <img src="media/img/pashabank_logo_white.png" alt="PAŞABank logo">
                              </picture>
                            </a>
                        </div>
                        <div class="logo-thy-miles-smiles">
                            <a href="https://www.milesandsmiles.net/" target="_blank" title="Pasha Bank">
                              <picture>
                                <source srcset="media/img/thy_miles_smiles_logo_white_375_wm.png" media="(max-width: 639px)">
                                <img src="media/img/thy_miles_smiles_logo_white.png" alt="Miles&amp;Smiles | Türk Hava Yolları ®">
                              </picture>  
                            </a>
                        </div>
                        <div class="hesab-az-logo">
                            <a href="https://hesab.az/" target="_blank">
                                <img src="media/img/hesab-logo.svg" alt="hesab.az">
                            </a>
                        </div>
                    </div>
                    <div class="header-top__right-col">
                        <div class="lang header-lang">
                            <b>AZ</b>
                            <picture><img src="media/img/Icon_Down_1x.png" alt="dropdown-image"></picture>
                            <div class="other-langs">        
                                <a href="index_en.html" class="language-link">EN</a>
                                <a href="index_ru.html" class="language-link">RU</a>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
        </header>
        <!-- Header-end -->
        <div class="content-inner">
            <div class="container">
                <h1 class="page-heading">Onlayn müraciət</h1>
                <div class="main-block">
                    <div class="steps-all">
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">1</span>
                            <span class="steps-item__title">Şəxsi məlumat</span>
                        </div>
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">2</span>
                            <span class="steps-item__title">Kart məlumatları</span>
                        </div>
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">3</span>
                            <span class="steps-item__title">Anket məlumatları</span>
                        </div>
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">4</span>
                            <span class="steps-item__title">Sifariş məlumatlarının təsdiqi</span>
                        </div>
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">5</span>
                            <span class="steps-item__title">Ödəniş</span>
                        </div>
                        <div class="steps__item steps__item--success">
                            <span class="steps-item__number">6</span>
                            <span class="steps-item__title">Ödəniş nəticələri</span>
                        </div>
                        <div class="steps__item steps__item--active">
                            <span class="steps-item__number">7</span>
                            <span class="steps-item__title">Məlumatların yoxlanışı</span>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <h2 class="step-heading">Məlumatların yoxlanışı</h2>
                        <form action="/ms-thy-crdorder-hesabaz/step7" method="post">
                            <div class="form-groups__row">
                                <div class="form-group__description">
                                    <span class="form-group-description__title">Xahiş edirik aşağıdakı məlumatların düzgünlüyünü təsdiq edin</span>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Ad, soyad, ata adı :</label>
                                    <div class="permanent-value">sadsSD asdasdSD asdasdSDS</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Doğum tarixi :</label>
                                    <div class="permanent-value">31.01.1989</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Rezidentlik statusu :</label>
                                    <div class="permanent-value">Rezident</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Vətəndaşlıq :</label>
                                    <div class="permanent-value">Azerbaijan</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Cinsi :</label>
                                    <div class="permanent-value">Kişi</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Məxfi şifrə :</label>
                                    <div class="permanent-value">12345</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>İş yeri :</label>
                                    <div class="permanent-value">asdasdDS</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Vəzifə :</label>
                                    <div class="permanent-value">asdasdasS</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Şəhər :</label>
                                    <div class="permanent-value">Absheron</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Qeydiyyat ünvanı :</label>
                                    <div class="permanent-value">sadasdasdSD</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Mobil nömrə :</label>
                                    <div class="permanent-value">+994502654985</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>E-poçt ünvanı :</label>
                                    <div class="permanent-value">asaasdsDasa@disdDSdfsdm.ru</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Faktiki ünvan :</label>
                                    <div class="permanent-value">sadasdasdSD</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Kartın növü :</label>
                                    <div class="permanent-value">BLACK</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Kartı almaq istədiyiniz filial :</label>
                                    <div class="permanent-value">"Bridge Plaza" Biznes Mərkəzi</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Təcili sifariş :</label>
                                    <div class="permanent-value">Bəli</div>
                                </div>
                                <div class="form-group form-group--full-width">
                                    <label>Kartın ödənişi :</label>
                                    <div class="permanent-value">260 AZN</div>
                                </div>
                            </div>
                            <div class="buttons-group">
                                <input type="submit" name="cancel" class="btn btn--light" value="İmtina">
                                <input type="submit" name="pay" class="btn" value="Ödə">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="media/plugins/niceSelect/jquery.nice-select.js"></script>
    <script src="media/js/script.js"></script>

</body>
</html>