<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="../static/assets/css/shards.min.css">-->

    <title>Add User</title>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5 d-flex justify-content-center">Şəxsi məlumat</h2>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form action="#" th:action="@{/index}" th:object="${app}" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="text-align:center">
                            <h5>
                                <spring:message
                                        code="label.index.anket_information"/>
                            </h5>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                    <c:forEach var="i" begin="1" end="${ankets_count}">
                        <div class="form-group">
                            <div class="col-sm-12">
                                                    <span class="anket-label">
                                                        <span>${i}.</span> <spring:message
                                                            code="anket.question${i}"/>
                                                    </span>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                        <label style="margin-top: 10px;">
                                            <form:radiobutton
                                                    path="anketAnswers[${i-1}]"
                                                    value="1"
                                                    onchange="$('#txtDescQues${i}').css('display', 'inline');"/>
                                            <spring:message
                                                    code="anket.answer.yes"/>
                                        </label>
                                        <spring:message
                                                code="anket.answer.desc${i}"
                                                var="message"/>
                                        <c:if test="${not empty message}">
                                            <label id="txtDescQues${i}"
                                                   style="display:
                                                                       <c:choose>
                                                                       <c:when test="${anketAnswers[i-1] eq 1}">inline</c:when>
                                            <c:otherwise>none</c:otherwise>
                                            </c:choose>; margin-left: 15px">
                                            <br/>
                                            <spring:message
                                                    code="anket.answer.desc${i}"/>:
                                            <br/>
                                            <form:input
                                                    path="anketDescs[${i-1}]"
                                                    class="form-control"
                                                    style="width: 100%; margin-left: 15px;"
                                                    value="" maxlength="500"
                                                    type="text"/>
                                            <br/>
                                            </label>
                                        </c:if>
                                        <br/>
                                        <label>
                                            <form:radiobutton
                                                    path="anketAnswers[${i-1}]"
                                                    value="2"
                                                    onchange="$('#txtDescQues${i}').css('display', 'none');"/>
                                            <spring:message
                                                    code="anket.answer.no"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </c:forEach>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="check-agreement-p font-size-11">
                                <form:checkbox cssClass="check-agreement"
                                               path="acceptedTerms"/> &nbsp;
                                <spring:message
                                        code="label.index.agreement"/>
                            </p>
                            <p class="check-agreement-p font-size-11">
                                <form:checkbox cssClass="check-agreement"
                                               path="acceptedGSA"/> &nbsp;
                                <spring:message
                                        code="label.index.accepted_gsa"/>.
                                <a href="https://www.pashabank.az/gsa/lang,${lang}/"
                                   target="_blank">
                                    <spring:message
                                            code="label.index.link_gsa"/>
                                </a>
                            </p>
                            <p class="check-agreement-p font-size-11" style="display: none">
                                <form:checkbox cssClass="check-agreement"
                                               path="acceptedOtherCustomers"/> &nbsp;
                                <spring:message
                                        code="label.index.accepted_other_customers"/>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 text-left">
                            <button data-tab="profile"
                                    class="btn btn-green btn-tab-locate min-width-100">
                                <spring:message
                                        code="label.index.page.previous"/>
                            </button>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="submit" id="btnDebitSubmit"
                                    class="btn btn-green min-width-100 pull-right">
                                <spring:message code="label.index.submit"/>
                            </button>
                        </div>
                    </div>
                <!-- POLL END -->
                <div class="row">
                    <div class="col mt-5">
                        <input type="submit" class="btn btn-primary float-right" value="İrəli">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>